@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to User Table -> <a asp-action="Table" asp-controller="Account">User Table</a>.</p>
</div>
